@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.bg-primary {
    background-color: #8AB092;
}

.bg-secondary {
    background-color: #617b6b;
}

.bg-third {
    background-color: #8aa4b0;
}
